boto3
botocore
dateparser
docopt
face_recognition
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models
ffmpeg-python
jsonschema
numpy
opencv-python
Pillow
python-dotenv
pyxattr
PyYAML
google-cloud-vision
